<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="李白诗歌2.html" />
                <add value="李白诗歌.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
